@charset "UTF-8";

.newsStop{
	padding: 0px;
	margin: 0px;
	height: 46px;
	width: 740px;
}

.div {
	display: inline-block;
}

.head {
	float: left;
	position: relative;
}

.head a{
	font-weight: bold;
	font-size: 17pt;
	text-decoration:none;
	color: black;
	padding-right: 12px;
}

.newsHeadline {
	float: left;
}

.newsHeadline a{
	color: black;
	font-size: 13pt;
	text-decoration:none;
	padding-right: 8px;
	float: left;
	margin-top: 3px;
}
.newsHeadline a:hover {
	text-decoration:underline;
}

.keywordFront a{
	font-size: 13pt;
	color: #80ff80;
	text-decoration:none;
	padding-right: 5px;
}

.keywordFront a:hover{
	color: #00e100;
}

.keywordBack a{
	font-size: 13pt;
	color: #8b8b8b;
	text-decoration:none;
	padding-right: 5px;
}
.keywordBack a:hover {
	color: #000000;
}

.keyFloat {
	float:right;
	margin-top: 4px;
}

/* -------------------------------------------- */
.timesquare {
	width: 400px;
	height: 142px;
	padding: 0px;
	margin: 0px;
}

.textstyle {
	color: #8b8b8b;
}

.date a{
	text-decoration:none;
	color: #000000;
	font-weight: bold;
	position: relative;
}
.date2:hover {
	text-decoration:underline;
	marig
}

.date3 {
	margin-top: 0px;
}

buttonmargin a{
	margin-left: 5px;
	margin-right: 5px;
}

.number {
	color: #000000;
	font-weight: bold;
	margin-right: -5px;
	text-decoration: none;
}

.subject a{
	color: #0080ff;
}

.subject a:hover {
	text-decoration:underline;
}

.title a {
	color: #464646;
	text-decoration: none;
}

.title a:hover{
	text-decoration:underline;
}

.live a {
	color: #464646;
	text-decoration: none;
}
.live a:hover {
	text-decoration:underline;
}
.livebox {
	color: red;
	border: 1px solid red;
}

.floatleft {
	float:left; 
}

.floatright {
	float: right;
}

.clear{
	clear: both;
}

.lines {
	margin-top: 0px
}

.grayline {
	border-top: 1px solid #cccccc;
	padding-top: 13px;
	margin-top: 8px;
}

.graylinesmall{
	width:190px; 
	border-right:1px solid red; 
	padding-right:12px; 
	text-align:justify
}



